nav {
 
  ul {
    list-style: none;
    display: flex;
    li {
      margin: 0 10px;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: red;
        }
        &.active{
          color:lightblue
        }
      }
    }
  }
}
