.navbar{
    background-color: #333;
    
    padding: 10px;
    text-align: center;
}
.menu{
    list-style: none;
    display: flex;
   
}
.menuitem{
    margin: 0 10px;
}
.menulink{
    color: #fff;
    text-decoration: none;
}